<div class='row'>
    <div class="col-12 col-lg-6 offset-lg-3 text-center">
        <h1>Forgot your Password?</h1>
        Enter the username or email address you use to sign in, and we’ll send you a link to reset your password.
        <br /><br />

        <form id="forgotPasswordForm">
            <div class="mb-1">
                <input type="text" class="form-control form-control-lg" id="value" name="value" placeholder="Enter your username or email" required />
            </div>

            <div class="mb-3">
                <p id="forgotPasswordError" class="d-none text-danger text-center">An error occurred, please try again (later).</p>
            </div>

            <div class="mb-3 text-center">
                <button id="forgotPassword" class="btn btn-secondary" type="submit">Request Reset Password</button>
            </div>

            <div>
                <p id="forgotPasswordSuccess" class="d-none text-success text-center">We'll send the password reset instructions to your email if found.</p>
            </div>
        </form>

    </div>
</div>

<script src="/events/ForgotPasswordScriptBundled.js"></script>
