<div class='row'>
    <div class="col-12 col-lg-8">
        <h1>Hello, World</h1>
        <h5>Welcome to our website!</h5>

        <br />

        <div class="not-logged-in">
            <a href="/login" class="btn btn-secondary btn-lg">Login</a>
            <a href="/register" class="btn btn-light btn-lg">Create Account</a>
        </div>
    </div>

    <div class='col-12 col-lg-4 text-end'>
        <img src='/assets/img/logo.svg' width='150px' height='auto' /><br />
    </div>
</div>