<img src='<%= process.env.DOMAIN %>/assets/img/logo.svg' width='200px' height='auto' />
<h1>Confirm your account!</h1>
You can confirm your account by clicking here:
<br /><br />

<a href="<%= process.env.DOMAIN %>/confirm-account?token=<%= token %>" class="btn btn-success">Confirm account</a>

<br /><br />
If you didn't create this account you can ignore this email.