<img src='<%= process.env.DOMAIN %>/assets/img/logo.svg' width='200px' height='auto' />
<h1>Forgot your password?</h1>
You can reset your password by clicking here:
<br /><br />

<a href="<%= process.env.DOMAIN %>/reset-password?token=<%= token %>" class="btn btn-success">Reset password</a>

<br /><br />
If you don't need to reset your password, just ignore this email.